<app-menu></app-menu>

<div class="contenedor">
  <router-outlet></router-outlet>
</div>


<!--  <div>-->
<!--    <input type="checkbox" (change)="ocultar = !ocultar" />Ocultar-->
<!--  </div>-->

<!--  <input type="text" (input)="title = $event.target.value" />-->
<!--<app-ciclos-de-vida [titulo]="title" *ngIf="ocultar"></app-ciclos-de-vida>-->
<!--<app-rating (rated)="manejarRated($event)"></app-rating>-->
<!--<input type="file" style="display: none" #cargador>-->
<!--<button (click)="cargador.click()">Cargar archivo</button>-->
